<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1 class="header">My name is Jesse Leibovitch</h1>

    <h2><em>A little more about me</em></h2>

    <p>I am a junior at the <strong><u>University of Maryland</u></strong></p>

    <!-- Adding new paragraph for css file -->

    <p id="special-one">I am graduating this year and need to figure out what to do with my life</p>

    <!-- Here I am adding the Robert H Smith photo -->

    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         alt="Smith Logo">

    <h2><em>What am I studying</em></h2>

    <p>I am studying <strong>finance</strong> and <strong>information</strong> systems</p>

        <p>I chose to focus on these fields because of my love of numbers and business.
            I also added information systems because I like the tech side of it and it will
            allow me to expand my skillset</p>

  <!-- Here I am creating my first list item -->

    <h2>My Current Classes</h2>

        <ul>
            <li>BMGT398</li>
            <li>BMGT407</li>
            <li>BMGT443</li>
            <li>BMGT444</li>
            <li>BMGT446</li>
            <li>BMGT485</li>
        </ul>

    <h2>Past Course History</h2>

        <table>
            <tr>
                <th>Course</th>
                <th>Year</th>
                <th>Semester</th>
            </tr>
            <tr>
                <td>BMGT302</td>
                <td>2022</td>
                <td>Spring</td>
            </tr>
            <tr>
                <td>BMGT495</td>
                <td>2022</td>
                <td>Spring</td>
            </tr>
            <tr>
                <td>BMGT364</td>
                <td>2022</td>
                <td>Spring</td>
            </tr>
        </table>



    <h2>My Current Goals</h2>

        <ol>
            <li>Have $100,000 by next year in the bank</li>
            <li>Find a meaningful career that offers high salary potential</li>
            <li>Improve my interpersonal skills and confidence</li>
        </ol>

<!-- At this part I will create my hyperlink to the hello route -->

    <p>A line to the <a href="/hello">Hello Route</a></p>

    <h2>Here are my favorite websites</h2>

    <ol>
        <li><a href="https://www.coinbase.com/advanced-trade/spot/ETH-USD">Coinbase Pro</a></li>
        <li><a href="https://www.facebook.com/marketplace/" target="_blank">Facebook Marketplace</a></li>
    </ol>

</body>
</html>